[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "ambience"]
	path = ambience
	url = https://notabug.org/TenPlus1/ambience.git
[submodule "areasprotector"]
	path = areasprotector
	url = https://github.com/BlockySurvival/areasprotector.git
[submodule "bakedclay"]
	path = bakedclay
	url = https://notabug.org/TenPlus1/bakedclay
[submodule "basic_materials"]
	path = basic_materials
	url = https://gitlab.com/VanessaE/basic_materials.git
[submodule "BBQ"]
	path = bbq
	url = https://github.com/BlockySurvival/BBQ.git
[submodule "biome_lib"]
	path = biome_lib
	url = https://gitlab.com/VanessaE/biome_lib.git
[submodule "bls_custom"]
	path = bls_custom
	url = https://github.com/BlockySurvival/bls_custom.git
[submodule "bonemeal"]
	path = bonemeal
	url = https://notabug.org/TenPlus1/bonemeal
[submodule "boost_cart"]
	path = boost_cart
	url = https://github.com/SmallJoker/boost_cart.git
[submodule "bowlingball"]
	path = bowlingball
	url = https://github.com/BlockySurvival/bowlingball.git
[submodule "bridger"]
	path = bridger
	url = https://github.com/v-rob/bridger.git
[submodule "cblocks"]
	path = cblocks
	url = https://notabug.org/TenPlus1/cblocks.git
[submodule "ChatCmdBuilder"]
	path = ChatCmdBuilder
	url = https://github.com/rubenwardy/ChatCmdBuilder.git
[submodule "chesttools"]
	path = chesttools
	url = https://github.com/Sokomine/chesttools.git
[submodule "cloaking"]
	path = cloaking
	url = https://github.com/luk3yx/minetest-cloaking.git
[submodule "cottages"]
	path = cottages
	url = https://github.com/BlockySurvival/cottages.git
[submodule "cozy"]
	path = cozy
	url = https://github.com/minetest-mods/cozy.git
[submodule "currency"]
	path = currency
	url = https://github.com/BlockySurvival/currency.git
[submodule "digilines"]
	path = digilines
	url = https://github.com/minetest-mods/digilines.git
[submodule "digistuff"]
	path = digistuff
	url = https://cheapiesystems.com/git/digistuff
[submodule "digiterms"]
	path = digiterms
	url = https://github.com/pyrollo/digiterms.git
[submodule "display_modpack"]
	path = display_modpack
	url = https://github.com/BlockySurvival/display_modpack.git
[submodule "extra"]
	path = extra
	url = https://github.com/BlockySurvival/extra.git
[submodule "facade"]
	path = facade
	url = https://github.com/BlockySurvival/facade.git
[submodule "farming"]
	path = farming
	url = https://notabug.org/fluxionary/minetest-farming.git
[submodule "glass_stained"]
	path = glass_stained
	url = https://github.com/v-rob/glass_stained.git
[submodule "goldtools"]
	path = goldtools
	url = https://github.com/BlockySurvival/goldtools.git
[submodule "hangglider"]
	path = hangglider
	url = https://github.com/BlockySurvival/hangglider.git
[submodule "holidays"]
	path = holidays
	url = https://github.com/BlockySurvival/holidays.git
[submodule "homedecor_modpack"]
	path = homedecor_modpack
	url = https://gitlab.com/VanessaE/homedecor_modpack.git
[submodule "hot_air_balloons"]
	path = hot_air_balloons
	url = https://github.com/BlockySurvival/hot_air_balloons.git
[submodule "instruments_pack"]
	path = instruments_pack
	url = https://github.com/BlockySurvival/instruments_pack.git
[submodule "intllib"]
	path = intllib
	url = https://github.com/minetest-mods/intllib.git
[submodule "invhack"]
	path = invhack
	url = https://github.com/BlockySurvival/minetest-invhack.git
[submodule "irc"]
	path = irc
	url = https://github.com/BlockySurvival/irc.git
[submodule "irc2"]
	path = irc2
	url = https://github.com/BlockySurvival/irc2.git
[submodule "areas"]
	path = areas
	url = https://github.com/BlockySurvival/areas.git
[submodule "irc_commands"]
	path = irc_commands
	url = https://github.com/minetest-mods/irc_commands.git
[submodule "irc_commands2"]
	path = irc_commands2
	url = https://github.com/BlockySurvival/irc_commands2.git
[submodule "jails"]
	path = jails
	url = https://github.com/ShadowNinja/jails.git
[submodule "letters"]
	path = letters
	url = https://github.com/minetest-mods/letters.git
[submodule "locked_travelnet"]
	path = locked_travelnet
	url = https://github.com/BlockySurvival/locked_travelnet.git
[submodule "locks"]
	path = locks
	url = https://github.com/BlockySurvival/locks.git
[submodule "lurkcoin"]
	path = lurkcoin
	url = https://github.com/luk3yx/minetest-lurkcoin.git
[submodule "mailbox"]
	path = mailbox
	url = https://github.com/BlockySurvival/mailbox.git
[submodule "mapfix"]
	path = mapfix
	url = https://github.com/minetest-mods/mapfix.git
[submodule "maptools"]
	path = maptools
	url = https://github.com/BlockySurvival/maptools.git
[submodule "markers"]
	path = markers
	url = https://github.com/Sokomine/markers.git
[submodule "matrix"]
	path = matrix
	url = https://github.com/entuland/lua-matrix.git
[submodule "memorandum"]
	path = memorandum
	url = https://github.com/BlockySurvival/memorandum.git
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "mob_horse"]
	path = mob_horse
	url = https://notabug.org/TenPlus1/mob_horse
[submodule "mobs_animal"]
	path = mobs_animal
	url = https://notabug.org/TenPlus1/mobs_animal
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://github.com/BlockySurvival/mobs_redo.git
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/BlockySurvival/moreblocks.git
[submodule "morelights"]
	path = morelights
	url = https://github.com/random-geek/morelights.git
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores.git
[submodule "moreplants"]
	path = moreplants
	url = https://github.com/fluxionary/minetest-moreplants.git
[submodule "moretrees"]
	path = moretrees
	url = https://gitlab.com/VanessaE/moretrees.git
[submodule "mydoors"]
	path = mydoors
	url = https://github.com/minetest-mods/mydoors.git
[submodule "nether"]
	path = nether
	url = https://github.com/BlockySurvival/nether.git
[submodule "nsspf"]
	path = nsspf
	url = https://github.com/BlockySurvival/nsspf.git
[submodule "other_worlds"]
	path = other_worlds
	url = https://github.com/BlockySurvival/other_worlds.git
[submodule "plasticbox"]
	path = plasticbox
	url = https://cheapiesystems.com/git/plasticbox/
[submodule "playeranim"]
	path = playeranim
	url = https://github.com/minetest-mods/playeranim.git
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/minetest-mods/player_monoids.git
[submodule "pmview"]
	path = pmview
	url = https://github.com/BlockySurvival/pmview.git
[submodule "priv_roles"]
	path = priv_roles
	url = https://github.com/BlockySurvival/priv_roles.git
[submodule "quartz"]
	path = quartz
	url = https://github.com/minetest-mods/quartz.git
[submodule "replacer"]
	path = replacer
	url = https://github.com/BlockySurvival/replacer.git
[submodule "REPOS/terumet"]
	path = .REPOS/terumet
	url = https://github.com/Terumoc/terumet.git
[submodule "rhotator"]
	path = rhotator
	url = https://github.com/entuland/rhotator.git
[submodule "ropes"]
	path = ropes
	url = https://github.com/minetest-mods/ropes.git
[submodule "scifi_nodes"]
	path = scifi_nodes
	url = https://github.com/D00Med/scifi_nodes.git
[submodule "skinsdb"]
	path = skinsdb
	url = https://github.com/minetest-mods/skinsdb.git
[submodule "smartshop"]
	path = smartshop
	url = https://github.com/fluxionary/minetest-smartshop.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/luk3yx/minetest-snippets.git
[submodule "spawn_command"]
	path = spawn_command
	url = https://github.com/BlockySurvival/spawn_command.git
[submodule "sponge"]
	path = sponge
	url = https://github.com/BlockySurvival/sponge.git
[submodule "stamina"]
	path = stamina
	url = https://github.com/minetest-mods/stamina.git
[submodule "streetlamps"]
	path = streetlamps
	url = https://github.com/BlockySurvival/streetlamps.git
[submodule "streetsconcrete"]
	path = streetsconcrete
	url = https://github.com/BlockySurvival/streetsconcrete.git
[submodule "streetsmod"]
	path = streetsmod
	url = https://github.com/BlockySurvival/streetsmod.git
[submodule "techpack"]
	path = techpack
	url = https://github.com/BlockySurvival/techpack.git
[submodule "teleport_request"]
	path = teleport_request
	url = https://github.com/BlockySurvival/teleport-request.git
[submodule "titanium"]
	path = titanium
	url = https://github.com/BlockySurvival/titanium.git
[submodule "travelnet"]
	path = travelnet
	url = https://github.com/BlockySurvival/travelnet.git
[submodule "tubelib2"]
	path = tubelib2
	url = https://github.com/BlockySurvival/tubelib2.git
[submodule "unifieddyes"]
	path = unifieddyes
	url = https://gitlab.com/VanessaE/unifieddyes.git
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/minetest-mods/unified_inventory.git
[submodule "verbana"]
	path = verbana
	url = https://github.com/fluxionary/minetest-verbana.git
[submodule "waterfalls"]
	path = waterfalls
	url = https://github.com/ExeVirus/waterfalls.git
[submodule "wielded_light"]
	path = wielded_light
	url = https://github.com/minetest-mods/wielded_light.git
[submodule "worldedit"]
	path = worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "xdecor"]
	path = xdecor
	url = https://github.com/minetest-mods/xdecor.git
[submodule "technic"]
	path = technic
	url = https://github.com/BlockySurvival/technic.git
[submodule "mobs_animal_pack"]
	path = mobs_animal_pack
	url = https://github.com/BlockySurvival/mobs_animal_pack.git
[submodule "desert_life"]
	path = desert_life
	url = https://github.com/BlockySurvival/desert_life.git
[submodule "server_news"]
	path = server_news
	url = https://github.com/BlockySurvival/server_news.git
[submodule "staff"]
	path = staff
	url = https://github.com/BlockySurvival/staff.git
[submodule "more_monoids"]
	path = more_monoids
	url = https://github.com/BlockySurvival/more_monoids.git
[submodule "bike"]
	path = bike
	url = https://gitlab.com/h2mm/bike.git
[submodule "redtrees"]
	path = redtrees
	url = https://github.com/BlockySurvival/redtrees.git
[submodule "MoreMesecons"]
	path = more_mesecons
	url = https://github.com/BlockySurvival/MoreMesecons.git
[submodule "woodcutting"]
	path = woodcutting
	url = https://github.com/minetest-mods/woodcutting.git
[submodule "digiline-stuff"]
	path = digiline_stuff
	url = https://github.com/BlockySurvival/digiline-stuff.git
[submodule "unified_inventory_plus"]
	path = unified_inventory_plus
	url = https://github.com/bousket/unified_inventory_plus.git
[submodule "cucina_vegana"]
	path = cucina_vegana
	url = https://github.com/BlockySurvival/cucina_vegana.git
[submodule "unifiedbricks"]
	path = unifiedbricks
	url = https://github.com/minetest-mods/unifiedbricks.git
[submodule "plantlife_modpack"]
	path = plantlife_modpack
	url = https://gitlab.com/VanessaE/plantlife_modpack.git
[submodule "soccer"]
	path = soccer
	url = https://github.com/kaeza/minetest-soccer
[submodule "invsaw"]
	path = invsaw
	url = https://github.com/BlockySurvival/invsaw.git
[submodule "artdeco"]
	path = artdeco
	url = https://github.com/BlockySurvival/artdeco.git
[submodule "minetest_orienteering"]
	path = orienteering
	url = https://github.com/BlockySurvival/orienteering.git
[submodule "rotation"]
	path = rotation
	url = https://github.com/BlockySurvival/rotation.git
[submodule "hook"]
	path = hook
	url = https://github.com/BlockySurvival/hook.git
[submodule "cool_trees"]
	path = cool_trees
	url = https://github.com/BlockySurvival/cool_trees.git
[submodule "ingots"]
	path = ingots
	url = https://github.com/BlockySurvival/ingots.git
[submodule "epic"]
	path = epic
	url = https://github.com/damocles-minetest/epic.git
[submodule "real_suffocation"]
	path = real_suffocation
	url = https://github.com/BlockySurvival/real_suffocation.git
[submodule "minetest-caverealms"]
	path = caverealms
	url = https://github.com/HeroOfTheWinds/minetest-caverealms.git
[submodule "aqua_farming"]
	path = aqua_farming
	url = https://github.com/acmgit/aqua_farming
[submodule "incrediblemaze"]
	path = incrediblemaze
	url = https://github.com/BlockySurvival/incrediblemaze.git
[submodule "swaz"]
	path = swaz
	url = https://github.com/runsy/swaz.git
[submodule "rainf"]
	path = rainf
	url = https://github.com/runsy/rainf.git
[submodule "scout_custom"]
	path = scout_custom
	url = https://github.com/TankTrooper/scout_custom.git
[submodule "bigdoors"]
	path = bigdoors
	url = https://github.com/oversword/bigdoors.git
	branch = main
[submodule "formspec_ast"]
	path = formspec_ast
	url = https://github.com/luk3yx/minetest-formspec_ast.git
[submodule "fs51"]
	path = fs51
	url = https://github.com/luk3yx/minetest-fs51.git
	branch = main
[submodule "notify"]
	path = notify
	url = https://github.com/oversword/notify.git
